/* body{
    background-image: url(./Images/windows_xp_bliss-wide.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} */

.container {
    width: 100%
}

#subject {
    margin-top: 20px;
    padding: 10px;
}

.container {
    margin: 10px auto;
}